/* css for home */
.text-overlay {
  position: absolute;
  top: 80%;
  left: 45%;
  transform: translate(-50%, 90%);
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 0px;
  line-height: 10px;
  /* padding-bottom: 10px; */
  width: 90%;
  font-size: 10px;
}

@media screen and (max-width:768px) {
  p{
    font-size:12px;
  }
}

